body{
	background: #21252b;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	color: #ddd;
	padding-bottom: 27px;
	position: relative;
}
a{
	color: #73c990;

	&:hover{
		text-decoration: none;
	}
}

main{
	max-width: 960px;
	margin: 30px auto 0 auto;
	background: #282c34;
	overflow: hidden;

	@media screen and (max-width: 960px){
		margin-top: 0;
	}

	.avatar{
		width: 130px;
		height: 130px;
		border-radius: 100%;
		background: url('assets/avatar.jpg') center center no-repeat;
		background-size: contain;
		float: left;
		margin: 20px 20px 20px 40px;
	}

	h1{
		color: #fff;
		font-weight: 300;
		letter-spacing: -0.05em;
		margin:  40px 0 0 0;
	}
	h2{
		font-family: 'Waiting for the Sunrise', cursive;
	  font-size: 1.4em;
	  color: #fff;
		margin: 0;
	}

	nav{
		clear: both;

		ul{
			list-style: none;
			padding: 0;
			overflow: hidden;

			li{
				display: table;
				float: left;
				width: 50%;

				a{
					display: table-cell;
					background: #21252b;
					border: 1px solid black;
					border-right-width: 0;
					width: 100%;
					height: 50px;
					vertical-align: middle;
					text-align: center;
					text-decoration: none;
					transition: all .25s ease;

					&:hover, &.active{
						background: #2c323c;
					}
				}
				&:first-child a{
					border-left-width: 0;
				}
			}
		}
	}
	.content{
		padding: 20px;
		display: none;
		overflow: hidden;

		h3{
			margin-bottom: 10px;
			color: #73c990;
			font-weight: lighter;
		}
		p{
			margin: 8px 0;
		}
		.social{
			display: block;
			width: 50px;
			height: 50px;
	    background-size: 110% !important;
			border-radius: 100%;
			border: 1px solid #282c34;
			float: left;
			margin: 10px;

			&:hover{
				background-color: #73c990 !important;
			}

			&.facebook{
				background: #fff url('assets/fb_icon.png') no-repeat center center;
			}
			&.linkedin{
				background: #fff url('assets/in_icon.png') no-repeat center center;
			}
			&.instagram{
				background: #fff url('assets/ig_icon.png') no-repeat center center;
			}
			&.email{
				background: #fff url('assets/email_icon.png') no-repeat center center;
			}
		}
	}
}

footer{
	position: absolute;
	color: #547F63;
	font-size: 13px;
	bottom: 5px;
	left: 0;
	width: 100%;
	text-align: center;
}
