html {
  background: #030303;
}
body {
  margin: 0;
}
#game {
  background: #171717;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@font-face {
  font-family: 'messy_fika';
  src: url('../assets/messy_fika.ttf');
}
