html {
  background: #fff;
  height: 100%;
  -ms-content-zooming: none;
}
body {
  height: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
}
#game {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#game.desktop{
  max-width: 450px;
  max-height: 800px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100% !important;
  height: 100% !important;
  -webkit-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.7);
  box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.7);
}
@font-face {
  font-family: 'messy_fika';
  src: url('../assets/messy_fika.ttf');
}
